/* ---------- BOTTOM NAV ---------- */

.bottom-nav {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;

  height: 65px;

  background: #0051ff;
  display: flex;
  justify-content: space-around;
  align-items: center;

  box-shadow: 0 -2px 15px rgba(0,0,0,0.3);
  z-index: 1000;
}

/* ---------- ITEMS ---------- */

.bottom-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 12px;
  color: #ffffff;
  text-decoration: none;
  cursor: pointer;
  transition: 0.2s;
}

.bottom-item svg {
  margin-bottom: 3px;
}

.bottom-item:hover {
  color: #fff;
  transform: scale(1.1);
}

.bottom-item.active {
  color: #ffffff;
  font-weight: 600;
}

.bottom-item.active svg {
  stroke-width: 2.5;
}